<div class="col-md-8 col-md-offset-2 jumbotron">
  <h1 class="text-center"><%= a.title %></h1>
  <br>
  <div>
    <span><%= "#{ t(:created_at) } : #{ a.created_at }" %></span>
    <span class="pull-right"><%= "#{ t(:updated_at) } : #{ a.updated_at }" %></span>
  </div>
  <br>
  
  
  <p><%= a.description %></p>
</div>