<div id="announcements">
  <table class="table table-hover">
    <thead>
        <tr>
          <th><%= t(:title) %></th>
          <th><%= t(:description) %></th>
          <th><%= t(:updated_at) %></th>
        </tr>
    </thead>
    <tbody>
      <% if render_from_admin ||= false %>
      <tr v-for="announcement in announcements" onclick="window.document.location='/admin/announcements/{{announcement.id}}'; ">
        <td>{{announcement.title}}</td>
        <td>{{announcement.description}}</td>
        <td>{{announcement.updated_at}}</td>
        <td class="btn-group">
          <a class="btn btn-sm btn-default" href="/admin/announcements/{{announcement.id}}/edit">編輯</a>
          <a class="btn btn-sm btn-danger" data-confirm="確定要刪除活動?" rel="nofollow" data-method="delete" href="/admin/announcements/{{announcement.id}}">刪除</a>
        </td>
      </tr>
      <% else %>
      <tr v-for="announcement in announcements" onclick="window.document.location='/announcements/{{announcement.id}}'; ">
        <td>{{ announcement.title }}</td>
        <td>{{ announcement.description }}</td>
        <td>{{ myFormat(announcement.updated_at) }}</td> 
      </tr>
      <% end %>

    </tbody>
  </table>
</div>

<!-- vue1.0 -->
<script type="text/javascript">
  var announcements_data = <%= sanitize a.to_json %>;
  var announcements = new Vue({
    el: '#announcements',
    data: {
      announcements: announcements_data
    },
    methods:{
      myFormat : function(what){
        return moment(what).format("YYYY年 M月D日 HH點mm分, dddd");
      }
    }
  })
</script>