<% content_for :breadcrumb do %>
  > <%= link_to '教會公告', announcements_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">教會公告</h1>
  <p class="lead text-center">以下是教會公告一覽，點選公告查看詳細內容。</p>
<% end %>
