# Log and temp files.
/log
/tmp
.byebug_history

# Credentials
/config/master.key
*.pem

# Webpacker
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity

# Mac OS X system file
.DS_Store
