<%= link_to t(:download_excel), download_admin_members_path(@members,format: :xlsx), class: "btn btn-success pull-right" %>
<div class="container">
  <%= render 'users/users', :users => @members, :admin => true %>
</div>
