<%= link_to admin_events_path, class: 'btn btn-outline-secondary' do %>
  <i class="fas fa-undo"></i> <%= t 'button.cancel' %>
<% end %>
<h1 class="my-2 text-center"><%= t '.title' %></h1>
<%= render 'form' %>
