<div class="d-flex my-4">
  <%= link_to t(:back_to_event), admin_event_path(@event), class: "btn btn-outline-secondary ml-1"%>
</div>
<%= render 'users/users', :users => @participants, render_for_admin: true %>
