<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= link_to GroupReport.model_name.human, group_reports_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= title ||= GroupReport.model_name.human %></h1>
  <p class="lead text-center"><%= subtitle ||= t('.subtitle') %></p>
<% end %>
