<% if @user.profile.nil? %>
<% flash[:notice] = "你還沒填寫個人資料" %>
<%= link_to(t(:create), account_profile_new_path, class: "btn btn-primary") %>
<% else %>
<div class="col-md-10 col-md-offset-1">
  <%= render 'profile_table', :p => @user.profile %>
  <br/>
  <%= link_to(t(:edit), account_profile_edit_path, class: "btn btn-primary pull-right") %>
</div>
<% end %>
