<div class="jumbotron jumbotron-bg my-0">
  <div class="ml-4 mb-4 bg-black-opacity04 d-inline-block p-2 rounded">
    <%= link_to '首頁', root_path %>
    <%= yield :breadcrumb %>
  </div>
  <div class="d-flex justify-content-center">
    <div class="p-5 bg-black-opacity04 rounded">
      <%= yield :jumbotron %>
    </div>
  </div>
</div>
