<%= link_to admin_service_roles_path, class: 'btn btn-outline-secondary' do %>
  <i class="fas fa-undo"></i> 取消
<% end %>
<h1 class="my-2 text-center">編輯<%= Service::Role.model_name.human %></h1>
<%= render 'form' %>
