<% content_for :breadcrumb do %>
  > <%= link_to '活動專區', events_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">活動專區</h1>
  <p class="lead text-center">點選活動以報名與查看詳情。</p>
<% end %>
