<% content_for :breadcrumb do %>
  <%= link_to t('breadcrumb.root'), root_path %>
  >
  <%= link_to t('events.index.title'), events_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center"><%= t 'events.index.title' %></h1>
  <p class="lead text-center"><%= t 'events.index.subtitle' %></p>
<% end %>
