<% set_meta_tags title: '活動專區',
  description: '點選活動以報名與查看詳情。',
  og: {
    title: '活動專區',
    description: '點選活動以報名與查看詳情。',
    image: 'https://i.imgur.com/Kgv2wwl.jpg'
  } %>
<%= render 'breadcrumb' %>
<div class="container">
  <h2>當前的活動 <span class="badge badge-primary ml-2">New</span></h2>
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-12 col-md-4 my-2">
        <%= render 'card', event: event %>
      </div>
    <% end %>
  </div>
  <hr>
  <h2>過期的活動</h2>
  <div class="row">
    <% @expired_events.each do |event| %>
      <div class="col-12 col-md-4 my-2">
        <%= render 'card', event: event %>
      </div>
    <% end %>
  </div>
  <%= paginate @expired_events %>
</div>
