<% set_meta_tags title: @event.name,
    description: @event.description,
    og: {
      title: @event.name,
      description: @event.description,
      image: 'http://i.imgur.com/Kgv2wwl.jpg'
    } %>
<%= render 'breadcrumb' %>
<% content_for :breadcrumb do %>
  > <%= link_to @event.name, event_path(@event) %>
<% end %>
<div class="container">
  <%= link_to '活動列表', events_path, class: 'btn btn-outline-secondary mb-4' %>
  <%= render 'event', event: @event %>
</div>
