<% set_meta_tags title: '關於茄典',
  description: "茄典教會位於一個在高雄名叫蚵仔寮的小漁村，這裡沒有都市的繁華，沒有太多高級物質的生活，但在這裡信仰耶穌基督的人們內心卻富有無比。\n而我們茄典教會青少年團契是一群在愛裡生長的青少年，我們彼此激勵、彼此扶持、彼此協助、相互成長，改正自己的缺點，尊行耶穌的道。我們是一群願意接受耶穌的愛的孩子，因此我們活得很富有；我們活得很快樂。\n我們希望將這份感動與美麗的經驗與你們分享。\n如果你願意加入我們、支持我們，或是一起參與在我們當中，我們誠摯歡迎你，你的生命可以不一樣！。",
  og: {
    title: '關於茄典',
    description: "茄典教會位於一個在高雄名叫蚵仔寮的小漁村，這裡沒有都市的繁華，沒有太多高級物質的生活，但在這裡信仰耶穌基督的人們內心卻富有無比。\n而我們茄典教會青少年團契是一群在愛裡生長的青少年，我們彼此激勵、彼此扶持、彼此協助、相互成長，改正自己的缺點，尊行耶穌的道。我們是一群願意接受耶穌的愛的孩子，因此我們活得很富有；我們活得很快樂。\n我們希望將這份感動與美麗的經驗與你們分享。\n如果你願意加入我們、支持我們，或是一起參與在我們當中，我們誠摯歡迎你，你的生命可以不一樣！。",
    image: 'https://i.imgur.com/Kgv2wwl.jpg'
  } %>
<% content_for :breadcrumb do %>
  > <%= link_to '關於茄典', about_path %>
<% end %>
<% content_for :jumbotron do %>
  <h1 class="display-4 text-center">關於茄典</h1>
  <p class="lead text-center">像耶穌一樣愛人</p>
<% end %>
<div class="container">
  <p>茄典教會位於一個在高雄名叫蚵仔寮的小漁村，這裡沒有都市的繁華，沒有太多高級物質的生活，但在這裡信仰耶穌基督的人們內心卻富有無比。</p>
  <p>而我們茄典教會青少年團契是一群在愛裡生長的青少年，我們彼此激勵、彼此扶持、彼此協助、相互成長，改正自己的缺點，尊行耶穌的道。我們是一群願意接受耶穌的愛的孩子，因此我們活得很富有；我們活得很快樂。</p>
  <p>我們希望將這份感動與美麗的經驗與你們分享。</p>
  <p>如果你願意加入我們、支持我們，或是一起參與在我們當中，我們誠摯歡迎你，你的生命可以不一樣！。</p>
</div>
