<div role="tabpanel">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#where" aria-controls="where" role="tab" data-toggle="tab">教會位置</a></li>
    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">教會歷史</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">

    <div role="tabpanel" class="tab-pane active" id="where">
      <div class="jumbotron">

        <div class="row">
          <div class="col-md-4"><p>郵遞區號-地址:</p></div>
          <div class="col-md-8"><p>82647-高雄縣梓官鄉茄苳村嘉展路467號</p></div>
        </div>

        <br/>

        <div class="row">
          <div class="col-md-6">
            <p>Google map</p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.8252777957737!2d120.25118971496248!3d22.734734685099614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e0f351291d611%3A0x875c9a5e732e89d4!2z6LKh5ZyY5rOV5Lq65Y-w54Gj5Z-6552j6ZW36ICB5pWZ5pyD6auY6ZuE5Lit5pyD6IyE5YW45pWZ5pyD!5e0!3m2!1szh-TW!2stw!4v1458890152888" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <p>街景圖</p>
            <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://my.ctrlq.org/maps/#street|1|-194.15178554966803|4.863816827388539|22.73475509721215|120.25337118532593"></iframe>
          </div>
        </div>

      </div>
    </div>
    <div role="tabpanel" class="tab-pane jumbotron" id="history">
      <div class="jumbotron">
        <p>1956年周燕全牧師為本會信徒崇拜方便起見，與母會右昌教會，在六月十一日于茄典村14號租屋開辦佈道所，開始傳道事工。至同年八月，中會派陳安香傳道師來牧養。</p>
        <p>1957年二月十二日准升格為右昌教會的支會。一九五七年九月購買現址禮拜堂用地，同年十二月破土，一九五八年二月五日開工，同年六月十日竣工。</p>
        <p>自1974年起聖靈動工，信徒日漸增加，許多染患疾病或被鬼纏身者，經求醫問佛、卜卦無效，結果來信耶穌均得醫治。</p>
        <p>1981年原有教堂已坐不下即計劃建新禮拜堂及牧師館。次年二月八日開工興建牧師館十月卅日竣工。一九八七年八月全部完工，裝修完成，於十月十日舉行新建禮拜堂奉獻感恩禮拜。</p>
      </div>
    </div>
  </div>

</div>