<%
seo_description = "大家好，這裡是茄典教會的網站，歡迎會友透過此網站報名活動以及查看教會最新消息!"
description seo_description
set_meta_tags og: {
  title: "#{t(:website)}}",
  image: "http://i.imgur.com/Kgv2wwl.jpg",
  description: seo_description
}
%>
<div class="container">

  <div class="panel panel-success">
    <div class="panel-heading text-center">佈告欄</div>
    <br>
    <%= render 'announcements/announcements_list', :a => @announcements%>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading text-center">活動一覽</div>
    <br>
    <%= render 'events/events_list', :e => @events %>
  </div>
</div>
