<div class="container">

  <div class="panel panel-success">
    <div class="panel-heading text-center">佈告欄</div>
    <br>
    <%= render 'announcements/announcements_list', :a => @announcements%>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading text-center">活動一覽</div>
    <br>
    <%= render 'events/events_list', :e => @events %>
  </div>

</div>
