<%
title t(:web_info)
seo_description = "教會資訊，聚會時間地點與聯絡方式。"
description seo_description
set_meta_tags og: {
  title: "#{t(:website)} | #{t(:web_info)}}",
  image: "http://i.imgur.com/Kgv2wwl.jpg",
  description: seo_description
}
%>
<div class="jumbotron jumbotron-color">
  <div class="container-fluid">
    <h1 class="display-3">教會資訊</h1>
    <p class="lead my-4">聚會時間地點與聯絡方式。</p>
  </div>
</div>
<div class="container">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" role="tab" href="#times">聚會時間</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" role="tab" href="#contact">聯絡方式</a>
        </li>
      </ul>
    </div>
    <div class="card-block tab-content">
      <div class="tab-pane active" id="times" role="tabpanel">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4>主日崇拜</h4>
            <span class="ml-auto">每週日 09:50 至 11:30</span>
          </li>
          <li class="list-group-item">
            <h4>青少年團契</h4>
            <span class="ml-auto">每週六 19:00 至 21:00</span>
          </li>
        </ul>
      </div>
      <div class="tab-pane" id="contact" role="tabpanel">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h4>網站</h4>
            <%= link_to root_url, root_path, class: "ml-auto" %></li>
          <li class="list-group-item">
            <h4>Facebook</h4>
            <a class="ml-auto" href="https://www.facebook.com/caten.church.teens/">fb.com/caten.church.teens</a>
          </li>
          <li class="list-group-item">
            <h4>Youtube頻道</h4>
            <a class="ml-auto" href="https://www.youtube.com/channel/UC-MvdM-JEdQUsT5h7Ratc2w">youtube.com/channel/UC-MvdM-JEdQUsT5h7Ratc2w</a>
          </li>
          <li class="list-group-item">
            <h4>Line @</h4>
            <a class="ml-auto" href="https://line.me/R/ti/p/%40kfi8062r">line.me/R/ti/p/%40kfi8062r</a>
          </li>
          <li class="list-group-item">
            <h4>地址</h4>
            <span class="ml-auto">(826-47)高雄市梓官區茄苳里嘉展路467號</span>
          </li>
          <li class="list-group-item">
            <h4>電話</h4>
            <span class="ml-auto">(07)617-8379</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
