<% content_for :breadcrumb do %>
<%= link_to t('pages.root'), root_path %>
>
<%= link_to t('pages.term'), term_path %>
<% end %>

<% content_for :jumbotron do %>
<h1 class="display-4 text-center"><%= t('pages.term') %></h1>
<p class="lead text-center">請閱讀以下條款，了解本網站將如何保護與運用使用者提供的資料。</p>
<% end %>

<div class="container">
  <h2>個人資料提供告知暨同意書</h2>
  <p>台灣基督長老教會高雄中會茄典教會(下稱本會)為推動相關業務及提供相關服務所需，依個人資料保護法之相關規定，將對您個人資料進行蒐集、處理或利用，依法告知您以下事項，為保障您的權益，請詳細閱讀本同意書所有內容。當您簽署本同意書時，表示您已閱讀、瞭解並同意接受本同意書之所有內容及其後修改變更規定。若您未滿二十歲，應於您的法定代理人閱讀、瞭解並同意本同意書之所有內容及其後修改變更規定，但若您簽署本同意書時，視為您已取得法定代理人之同意，並遵守以下所有規範。</p>
  <ol>
    <li>本會為進行蒐集、處理或利用您個人資料之機構。</li>
    <li>蒐集之目的：包括但不限於：○一○ 公立與私立慈善機構管理、○四三 志工管理、○四九 宗教、非營利組織業務、○六九 契約、類似契約或其他法律關係事務、一○九 教育或訓練行政、一三○ 會議管理、一七六 其他自然人基於正當性目的所進行個人資料之蒐集處理及利用。</li>
    <li>個人資料之類別。包括但不限於：Ｃ○○一 辨識個人者、Ｃ○二一 家庭情形、Ｃ○二三 家庭其他成員之細節、Ｃ一二○ 宗教信仰。請提供您本人正確、最新及完整的個人資料。</li>
    <li>個人資料利用之期間、地區、對象及方式。
      <ol>
        <li>個人資料利用期間：自蒐集之日到生命終止之日止，但依法令或法定職務得利用者，不在此限。</li>
        <li>個人資料利用地區：我國境內（包括臺澎金馬地區）。</li>
        <li>個人資料利用對象及方式：資料利用對象為本會及本會簽訂委外合約之委外廠商、單位及個人。其方式包括但不限於製作會員籍資料、通訊錄、週報、會員和會手冊、選舉、捐款徵信、來賓介紹、教會活動報名與辦理保險及依臺灣基督長老教會教會法規辦理事項等。</li>
      </ol>
    </li>
    <li>您可依個人資料保護法第三條規定以書面向本會要求行使以下之權利，若您的個人資料有任何異動，請主動向本會申請更正，使其保持正確、最新及完整。
      <ol>
        <li>查詢或請求閱覽您的個人資料。</li>
        <li>請求製給您的個人資料複製本。</li>
        <li>請求補充或更正您的個人資料。</li>
        <li>請求停止蒐集、處理或利用您的個人資料。</li>
        <li>請求刪除您的個人資料。</li>
      </ol>
      但因本會執行職務或業務所必須者，本會得拒絕之。若您欲執行上述權利時，請參考本會之個人資料保護聯絡窗口聯絡方式與本機關連繫。
    </li>
    <li>您得自由選擇是否提供本會個人資料，惟不提供將影響本會對您的服務或台端之權益。若您提供錯誤、不實、過時或不完整或具誤導性的資料，本會保留隨時終止您接受使用相關服務資格的權利。</li>
    <li>您瞭解此一同意書符合個人資料保護法及相關法規之要求，具有書面同意本會蒐集、處理及使用您的個人資料之效果，且同意本會留存此同意書，供日後取出查驗。如您如違反本同意書相關條款時，本會得隨時終止對您提供之一切服務。</li>
    <li>本會保留隨時修改本同意書規範之權利，本會將於修改規範時，將於本會網頁公告修改之事實，不另作個別通知。如果您不同意修改的內容，請主動通知本會。否則將視為您已同意並接受本規範該等增訂或修改內容之拘束。</li>
    <li>本同意書之解釋與適用，以及與本同意書有關的爭議，均先經雙方協議，協議不成，依照我國境內法律予以處理，並以本會所在地之地方法院為第一審管轄法院。</li>
  </ol>
</div>
