<div id="youtube" class="col-md-8 col-md-offset-2 ">
  <a class="text-center" :href="channel.url"><h1>{{ channel.title }}</h1></a>

  <div style="height: 45px;">
    <div class="btn btn-default" v-show="currentVideo!=0" @click="currentVideo--">Prev</div>
    <div class="btn btn-default pull-right" v-show="currentVideo!=numOfVidoes-1" @click="currentVideo++">Next</div>
  </div>
  <br>
  <div v-for="(index, video) in channel.videos | orderBy video.published_at 1" v-show="index==currentVideo"  class="embed-responsive embed-responsive-16by9 youtube_video">
    <iframe :src="video.embed_url" class="embed-responsive-item" frameborder="0"; allowfullscreen></iframe>
  </div>


</div>

<script type="text/javascript">
var yt = new Vue({
  el: '#youtube',
  data: {
    channel :{},
    numOfVidoes : 0,
    currentVideo : 0
  },
  created : function(){
    var res;
    this.$http.get('/youtube.json').then((response) => {
      res = response.json();
      this.channel = res;
      this.numOfVidoes = res.videos.length;
    }, (response) => {
      res = "failed to get response";
    });
  }
});
</script>