<div class="jumbotron jumbotron-color">
  <div class="container-fluid">
    <h1 class="display-3">YouTube 頻道</h1>
    <p class="lead my-4">以下是我們的YouTube影片，點選下一部觀看我們的其他影片，或前往YouTube觀看。
      <%= link_to "頻道", "https://www.youtube.com/channel/UC-MvdM-JEdQUsT5h7Ratc2w", class: "btn btn-danger" %>
    </p>
  </div>
</div>
<div id="youtube" class="container">
  <div class="row my-4">
    <div class="btn btn-outline-primary mr-auto" v-show="currentVideo!=0" @click="currentVideo--">上一部</div>
    <div class="btn btn-outline-primary ml-auto" v-show="currentVideo!=numOfVidoes-1" @click="currentVideo++">下一部</div>
  </div>
  <div v-for="(index, video) in channel.videos | orderBy video.published_at 1" v-show="index==currentVideo"  class="embed-responsive embed-responsive-16by9 youtube_video">
    <iframe :src="video.embed_url" class="embed-responsive-item" frameborder="0"; allowfullscreen></iframe>
  </div>
</div>

<script type="text/javascript">
var yt = new Vue({
  el: '#youtube',
  data: {
    channel :{},
    numOfVidoes : 0,
    currentVideo : 0
  },
  created : function(){
    var res;
    this.$http.get('/youtube.json').then((response) => {
      res = response.json();
      this.channel = res;
      this.numOfVidoes = res.videos.length;
    }, (response) => {
      res = "failed to get response";
    });
  }
});
</script>
