<%= render 'breadcrumb' %>
<% content_for :breadcrumb do %>
  > 編輯個人資料
<% end %>
<div class="container">
  <%= link_to '返回', account_profile_path, class: 'btn btn-sm btn-outline-secondary' %>
  <h1 class="text-center">編輯個人資料</h1>
  <%= render 'form' %>
</div>
