<%= render 'jumbotron' %>

<% content_for :breadcrumb do %>
> <%= t('pages.new_profile') %>
<% end %>

<div class="container">
  <h1>填寫個人資料<%= link_to t(:back), account_profile_path, class: "btn btn-secondary ml-2" %></h1>
  <%= render 'form' %>
</div>
