FB_APP_ID: "FB_APP_ID"
FB_APP_SECRET: "FB_APP_SECRET"
GOOGLE_API_KEY: "GOOGLE_API_KEY"
development:
  MAIL_USERNAME: "MAIL_USERNAME"
  MAIL_PASSWORD: "MAIL_PASSWORD"
production:
  MAIL_USERNAME: "MAIL_USERNAME"
  SENDGRID_USERNAME: "SENDGRID_USERNAME"
  SENDGRID_PASSWORD: "SENDGRID_PASSWORD"
  SENDGRID_API_KEY: "SENDGRID_API_KEY"
