FB_APP_ID: "FB_APP_ID"
FB_APP_SECRET: "FB_APP_SECRET"
GOOGLE_API_KEY: "GOOGLE_API_KEY"
GA_TRACK_ID: "GA_TRACK_ID"
development:
  MAIL_USERNAME: "MAIL_USERNAME"
  MAIL_PASSWORD: "MAIL_PASSWORD"
  REDIS_URL: 'redis://127.0.0.1:6379/0'
production:
  MAIL_USERNAME: "MAIL_USERNAME"
  SENDGRID_USERNAME: "SENDGRID_USERNAME"
  SENDGRID_PASSWORD: "SENDGRID_PASSWORD"
  SENDGRID_API_KEY: "SENDGRID_API_KEY"
  REDIS_URL: 'REDISTOGO_URL'
