FB_APP_ID: ""
FB_APP_SECRET: ""
FB_MESG_TOKEN: ""
GOOGLE_API_KEY: ""
GA_TRACK_ID: ""
LINE_CHANNEL_ID: ""
LINE_CHANNEL_SECRET: ""
LINE_CHANNEL_TOKEN: ""
development:
  MAIL_USERNAME: ""
  MAIL_PASSWORD: ""
  REDIS_URL: ""
production:
  MAIL_USERNAME: ""
  SENDGRID_USERNAME: ""
  SENDGRID_PASSWORD: ""
  SENDGRID_API_KEY: ""
  REDIS_URL: ""
