development:
  adapter: async

test:
  adapter: test

production:
  adapter: redis
  url: <%= Rails.application.credentials[:production].fetch(:redis_url) { 'redis://localhost:6379/1' } %>
  channel_prefix: caten_church_web_production
