development:
  mail:
    username: 'example@gmail.com'
    password: example_password

production:
  secret_key_base: rails_g_secret_here
  database_url: 'postgres://username:password@domain:port/database'
  redis_url: 'redis://service:password@domain:port/database'
  mail:
    username: 'example@gmail.com'  

sendgrid:
  username: 'example@heroku.com'
  password: example_password
  api_key: example_api_key

facebook:
  app_id: example_app_id
  app_secret: example_app_secret
  page_id: example_page_is
  message_token: example_message_token

google:
  api_key: example_api_key
  ga_track_id: UA-example-id

line:
  channel_id: example_channel_id
  channel_secret: example_channel_secret
  channel_token: example_channel_token

