development:
  mail:
    username: "example@gmail.com"
    password: "example_password"

production:
  secret_key_base: "using `rails g secret` to generate secret_key_base"
  database_url: "postgres://username:password@domain:port/database"
  redis_url: "redis://service:password@domain:port/database"
  mail:
    username: "example@gmail.com"  

sendgrid:
  username: "example@heroku.com"
  password: "example_password"
  api_key: "example_api_key"

facebook:
  app_id: "example_app_id"
  app_secret: "example_app_secret"
  page_id: "example_page_is"
  message_token: "example_message_token"

ga:
  track_id: "UA-example-id"

gcs:
  type: "service_account",
  project_id: "example_project_id",
  private_key_id: "example_private_key_id",
  private_key: "example_private_key",
  client_email: "example_client_email",
  client_id: "example_client_id",
  auth_uri: "https://accounts.google.com/o/oauth2/auth",
  token_uri: "https://oauth2.googleapis.com/token",
  auth_provider_x509_cert_url: "https://www.googleapis.com/oauth2/v1/certs",
  client_x509_cert_url: "example_client_x509_cert_url"

line:
  channel_id: "example_channel_id"
  channel_secret: "example_channel_secret"
  channel_token: "example_channel_token"

