<div class="d-flex p-2">
  <%= link_to t('button.back'), admin_event_path(params[:event_id]), class: "btn btn-outline-secondary" %>
  <%= link_to t('button.edit'), edit_admin_event_event_users_path(params[:event_id]), class: "btn btn-primary ml-2" %>
</div>
<%= render 'event_users/index', event_users: @event_users, backstage: true %>
