<%# TODO: i18n %>
<h1>茄典教會活動通知信</h1>
<p><%= @recipient.profile.try :name %> 弟兄姐妹 平安，</p>
<p>
  你報名的活動：<strong><%= @event.name %></strong><br>
  將於 <%= l @event.start %> 開始。<br>
  距離開始還有 <%= time_ago_in_words @event.start %><br>
  我們非常期盼能夠見到你。
</p>
<p>茄典教會</p>
