/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "pagedown_bootstrap";
@import "github-markdown";
@import "sidebar";
@import "admin";

$iframe_width : 500px;
$iframe_height : $iframe_width * 9 / 16;

main{
  min-height: 360px;
}

.bg-color{
  background-image: linear-gradient(135deg,$purple,$sky,$caten-blue);
}

.jumbotron-color{
  border-radius: 0px;
  background-image: linear-gradient(135deg,$purple,$sky,$caten-blue);
  *{
    color: $white;
  }
  a{
    &:hover{
      color: $white;
    }
  }
  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 36px;
    }
  }
}

.event-card {
  color: $sky;
  border-color: $sky;
  &:hover {
    color: $purple;
    border-color: $purple;
  }
  @include media-breakpoint-up(md) {
    min-height: 350px;
  }
}

.caten-link{
  text-decoration: none;
  color: $black;
  &:hover {
    color: $purple;
    text-decoration: none;
  }
}
