/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 */
@import "bootstrap";
@import "font-awesome";
@import "pagedown_bootstrap";
@import "github-markdown";
@import "sidebar";

$iframe_width : 500px;
$iframe_height : $iframe_width * 9 / 16;
$wood: #672315;
$sky: #3097D1;
$caten-blue: #05092E;
$white: #FCFCFC;
$purple: #7952b3;
$silver: #ECEEEF;
$black: #000000;
footer {
  background-color: #3A3335;
  letter-spacing: 2px;
  text-align: center;
}
main {
  min-height: 700px;
}
#home-bk-img{
  width: 100%;
  height: 300px;
}
#youtube .youtube_video{
  margin-bottom: 10px;
}
.bg-white {
  background: $white;
}
.bg-wood {
  background: $wood;
}
.bg-sky {
  background: $sky;
}
.bg-color{
  background-image: linear-gradient(135deg,$purple,$sky,$caten-blue);
}
.outline-wood {
    background-image: none;
    background-color: transparent;
    border-color: $wood;
}
.outline-purple {
    background-image: none;
    background-color: transparent;
    border-color: $purple;
}
.outline-caten-blue {
    background-image: none;
    background-color: transparent;
    border-color: $caten-blue;
}
.outline-sky {
    background-image: none;
    background-color: transparent;
    border-color: $sky;
}
.event-card {
  color: $sky;
  &:hover {
    color: $purple;
  }
  .card{
      background-image: none;
      background-color: transparent;
      border-color: $sky;
      &:hover {
        border-color: $purple;
      }
  }
}
.jumbotron-color{
  border-radius: 0px;
  background-image: linear-gradient(135deg,$purple,$sky,$caten-blue);
  *{
    color: $white;
  }
  a{
    &:hover{
      color: $white;
    }
  }
  @include media-breakpoint-down(xs) {
    h1 {
      font-size: 36px;
    }
  }
}
.bg-silver {
  background-color: $silver;
}
#admin-main{
  padding-top: 60px;
}
.caten-link{
  text-decoration: none;
  color: $black;
  &:hover {
    color: $purple;
    text-decoration: none;
  }
}
.purple{
  color: $purple;
}
.btn-purple{
  color: $white;
  background-color: $purple;
}

.btn-outline-purple{
  color: $purple;
  background-color: transparent;
  border-color: $purple;
  &:hover{
    color: $white;
    background-color: $purple;
  }

}
