$navbar_height : 60px;
$footer_height : 20px;
body {
    padding-top: $navbar_height+10px;
    padding-bottom: $footer_height+10px;
}
footer {
    background-color: #3A3335;
    height: $footer_height;
    color: #F5F5F5;
    letter-spacing: 2px;
    text-align: center;
}
