<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>
<p>忘記密碼了嗎？點擊下面的連結，重設你的密碼。</p>

<p><%= link_to 'Change my password 重設密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>如果忘記密碼不是你申請的，請別點此連結。</p>

<p>Your password won't change until you access the link above and create a new one.</p>
<p>你的密碼不會被更改，除非點進連結更改密碼。</p>
