<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= favicon_link_tag 'favicon.ico' %>
<title>茄典教會</title>
<meta name="description" content="This is a website for caten church">
<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:title" content="Caten church">
<meta property="og:image" content="http://i.imgur.com/Kgv2wwl.jpg">
<meta property="og:description" content="This is a website for caten church">

<%= stylesheet_link_tag    'application'%>
<%= csrf_meta_tags %>