<p>
  <strong>Title:</strong>
  <%= @weekly.title %>
</p>
<p>
  <strong>Issue:</strong>
  <%= @weekly.issue %>
</p>
<p>
  <strong>Published at:</strong>
  <%= @weekly.published_at %>
</p>
<%= link_to 'Back', weeklies_path %>
